<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
>
<head>
    <meta charset="UTF-8">
    <title>title</title>
</head>
<style type="text/css">
    .mydiv{
        margin-top: 250px;
        margin-left: 550px;
    }
</style>
<body>
<div th:include="/index.html"></div>
<div class="modal-dialog" >
    <form class="form-inline" id="addbookform">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <div class="input-group">
                        <span class="input-group-addon">蛋糕名称</span>
                        <input type="text" class="form-control" id="cakeName"  name="cakeName" >
                    </div><br/>
                    <div class="input-group">
                        <span class="input-group-addon">蛋糕口味</span>
                        <select  class="form-control" style="width:200px"  id="flavorId" name="flavorId">
                        </select>
                    </div><br/>
                    <div class="input-group">
                        <span class="input-group-addon">蛋糕材料</span>
                        <select  class="form-control" style="width:200px"  id="foodId" name="foodId">
                        </select>
                    </div><br/>
                    <div class="input-group">
                        <span class="input-group-addon">促销</span>
                        <select  class="form-control" style="width:200px"  id="promotionId" name="promotionId">
                        </select>
                    </div><br/>
                    <div class="input-group">
                        <span class="input-group-addon">商品图片</span>
                        <input type="hidden" id="headImg" name="cakeImg"/>
                        <!-- projectfile -->
                        <input type="file" multiple class="projectfile" accept="image/*" name="file" id="uploadImg">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
<script type="text/javascript">

    $(function(){
        Promotionlist();
        Flavorlist();
        Foodlist();
    })
    //查询促销
    function Promotionlist(){
        $.ajax({
            url:'/Promotionlist',
            type:'post',
            async:false,
            data:{},
            dataType:'json',
            success:function(data){
                var html='<option value="-1" >请选择</option>';
                for (var i = 0; i < data.length; i++) {
                    html+='<option value='+data[i].promotionId+' >'+data[i].promotionName+'</option>';
                }
                $("#promotionId").html(html);
            }
        });
    }

    //查询口味
    function Flavorlist(){
        $.ajax({
            url:'/Flavorlist',
            type:'post',
            async:false,
            data:{},
            dataType:'json',
            success:function(data){
                var html='<option value="-1" >请选择</option>';
                for (var i = 0; i < data.length; i++) {
                    html+='<option value='+data[i].flavorId+' >'+data[i].flavorName+'</option>';
                }
                $("#flavorId").html(html);
            }
        });
    }
    //查询材料
    function Foodlist(){
        $.ajax({
            url:'/Foodlist',
            type:'post',
            async:false,
            data:{},
            dataType:'json',
            success:function(data){
                var html='<option value="-1" >请选择</option>';
                for (var i = 0; i < data.length; i++) {
                    html+='<option value='+data[i].foodId+' >'+data[i].foodName+'</option>';
                }
                $("#foodId").html(html);
            }
        });
    }

        $('#uploadImg').fileinput({
            language: 'zh', //设置语言
            uploadUrl: '/text', //上传的地址
            allowedFileExtensions: ['jpg', 'gif', 'png'],//接收的文件后缀
            showUpload: true, //是否显示上传按钮
            showCaption: false,//是否显示标题
            browseClass: "btn btn-primary", //按钮样式
            dropZoneEnabled: false,//是否显示拖拽区域
            //minImageWidth: 50, //图片的最小宽度
            //minImageHeight: 50,//图片的最小高度
            //maxImageWidth: 1000,//图片的最大宽度
            //maxImageHeight: 1000,//图片的最大高度
            //maxFileSize: 0,//单位为kb，如果为0表示不限制文件大小
            //minFileCount: 0,
            maxFileCount: 2, //表示允许同时上传的最大文件个数
            enctype: 'multipart/form-data',
            validateInitialCount:true,
            previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
            msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",

        }).on('fileuploaded', function(event, data, previewId, index) {




            var imgval = $('#headImg').val();
            if(imgval == null || imgval == "" || imgval == undefined){
                imgval = data.response.responseText;
            }/*else{
			imgval += ","+"http://<%= request.getServerName()%>:<%=request.getServerPort()%><%=request.getContextPath()%>/"+data.response;
		}*/
            $('#headImg').val(imgval);
        });
</script>
</html>