<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
>
<head>
    <meta charset="UTF-8">
    <title>title</title>
</head>
<body>
<div th:include="/index.html"></div>
<div class="modal-dialog" >
    <form class="form-inline" action="login" method="post">
        <center>
            <div class="modal fade" style="margin: 10% 0px 0px 0%" id="myModal" tabindex="-1" data-show="true" role="dialog" aria-labelledby="myModalLabel" >
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="false">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">登陆</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="input-group">
                                            <img src="#" style="height: 60px;width: 60px" class="img-circle">
                                        </div>
                                    </div>
                                    <br><br><br>
                                    <div class="col-sm-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">账号</span>
                                            <input type="text" class="form-control"   name="username" >
                                        </div>
                                    </div>
                                    <br><br><br>
                                    <div class="col-sm-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">密码</span>
                                            <input type="text" class="form-control"   name="password" >
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit"   class="btn btn-primary">登陆</button>
                        </div>
                    </div>
                </div>
            </div>
        </center>
    </form>
</div>
</body>
<script type="text/javascript">
    $('#myModal').modal({backdrop: 'static', keyboard: false});
    $('#myModal').modal("show");
    function  initadd(){
        $('#myModalbylog').modal({backdrop: 'static', keyboard: false});
        $('#myModal').modal("hide");
        $('#myModalbylog').modal("show");
    }
    function  initlog(){
        $('#myModalbylog').modal("hide");
        $('#myModal').modal("show");
    }
    function  adduser(){
        var username =     $('#username').val();
        var password =     $('#password').val();
        var password1=     $('#password1').val();
        if (username==null||password==null||password1==null||username==""||password==""||password1==""){
            toastr.info("填写数据有误!");
            return;
        }
        if (password!=password1){
            toastr.info("两次密码不一致!");
            return;
        }
        $.ajax({
            url:"/adduser",
            type:"post",
            data:{
                password:password,
                name:username
            },
            success:function(data){
                initlog();
                toastr.success("注册成功!");
            }
        })
    }
</script>
</html>